* {
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
}

body {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

.icon-delete-cate:hover {
    color: red;
}

.btn-delete-cate{
    background-color: #A9B5DF;
    color: rgb(54, 53, 34);
}

.btn-container {
    display: flex;
    align-items: center;
    width: 100%; /* Đảm bảo container chiếm đủ chiều rộng */
    position: relative; /* Để biểu tượng xoá có thể định vị dễ dàng */
}

.btn-update {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
    background-color: #A9B5DF;
    color: rgb(54, 53, 34);
}

.btn-update:hover{
    background-color: #1f3ba0;
    color: yellow;
    border: 1px solid rgb(3, 1, 6);
}

.checkbox-todo{
    border-radius: rounded;
}

.container-todo{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.stats-container{
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    border-radius: 20px;
    /* border: 2px solid purple; */
    display: flex;
    gap: 20px;
    width:40%;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: rgba(7, 34, 164, 0.59) 0px 5px 15px 0px; */
    box-shadow: rgba(244, 246, 255, 0.59) 0px -5px 15px 0px;
}

.detail-todo {

}

.progressBar {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    margin-top: 20px;
}

.detail-todo{
    width: 100%;
}

#progress {
    width: 50%;
    height: 15px;
    background-color: #2D336B;
    margin-bottom: 5px;
    border-radius: 10px;
}

#numbers {
    width: 120px;
    height: 120px;
    background-color: rgba(46, 54, 205, 0.616);
    color: #E8F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}

input[type="checkbox"] {
    position: relative;
    width: 5rem;
    height: 2.5rem;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 2.5rem;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: background 0.3s;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    border: 1px solid #1f3ba0;
    background-color: #2375f0;
}

input:checked[type="checkbox"] {
    background: #03a9f4;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border: 1px solid #22151596;
}

input:checked[type="checkbox"]::before {
    left: 55%;
    content: '✓';
    color: #fff;
    font-weight: bold;
    padding: 0 7px;
    background: #bef104;
}

/*  */
input[type="datetime-local"]
{   
    padding-left: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 100% 100%, 10% 100%, 0% 0%);
}


.background-calender {
    /* border: 2px solid #2D336B;    */
    border-radius: 25px;
    max-width: 350px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 12px 11px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.title-calender{
    text-decoration: underline;
    
}

.icon-delete-todo {
    position: absolute;
    top: 2px;
    right: -30px;
    cursor: pointer;
    font-size: 2rem;
    color: #dc3545;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.icon-delete-todo:hover {
    color: #bb2d3b; /* Màu đỏ đậm khi hover */
}

.todo {
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* background: #fff; */
}

.todo:hover{
    background-color: #fff;
}

.checked-finished{
    position: absolute;
    bottom: 0;
    right: 5px;
}

.deadline-status{
    position: absolute;
    top: 3vh;
    right: 0;
}

.datetime-todo{
    position: absolute;
    bottom: -4vh;
    left: 0;
    clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0% 0%);
}

.custom-select select {
    border: 1px solid black;
}

.bg-white-icon-delete {
    background: #fff;
    width: 20px;
    height: 20px;
    /* left: 1vw; */
}

.tag-delete {
    position: absolute;
    top: 0;
    right: 10%;
    text-shadow: 2px 3px 2px white;
}
